<div class='row'>
  <div class='col-md-12'>
    <h1>{{gym.name}}</h1>
  </div>
  <div class='col-md-4'>
    <div class='well'>
      <ul class='list-unstyled'>
        <li><strong>Opening Hour:</strong> {{gym.openingHours}}</li>
        <li><strong>Tel:</strong> {{gym.tel}}</li>
        <li><strong>Address:</strong> {{gym.address}}</li>
        <li><strong>Description:</strong></li>
      </ul>
      <p style='white-space: break-spaces;'>{{gym.description}}</p>
    </div>
  </div>
  <hr />
</div>
<a class='btn btn-outline-secondary' href='javascript:history.back()'>Back</a>