<div class='d-flex flex-column'>
  <div class='card mb-3' style='width: 100%;'>
    <div class='row g-0'>
      <div class='col-md-3'>
        {{#if user.image}}
          <img
            src='{{user.image}}'
            width='300px'
            height='300px'
            style='transition: opacity 0.5s; opacity:0;'
            onload='this.style.opacity=1;'
          />
        {{else}}
          <img
            src='https://via.placeholder.com/300'
            width='300px'
            height='300px'
            style='transition: opacity 0.5s; opacity:0;'
            onload='this.style.opacity=1;'
          />
        {{/if}}
      </div>
      <div class='col-md-9'>
        <div class='card-body'>
          <h5 class='card-title'>{{user.name}}</h5>
          <p class='card-text'>{{user.email}}</p>
          <br />
          <br />
          <a class='btn btn-primary' href='/users/{{user.id}}/edit'>Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>